div {
        display: inline-block;
}
#square {
        
        width: 0;
        height: 0;
        border-top: 100px solid red;
        border-right: 100px solid green;
        border-bottom: 100px solid lightblue;
        border-left: 100px solid yellow;

        }

#circle {

        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: blue;

}

#trapezium {
        height: 0;
        width: 100px;
        border-bottom: 100px solid red;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
}

#diamond {
        width: 150px;
        height: 150px;
        transform: rotate(45deg);
        /*transform-origin: 0 100%; */
        background-color: green;
}

