div {
        
        width: 0;
        height: 0;
        border-top: 100px solid red;
        border-right: 100px solid green;
        border-bottom: 100px solid lightblue;
        border-left: 100px solid yellow;

        }

